# build output
dist/
.output/

# dependencies
node_modules/

# astro
.astro/

# logs
npm-debug.log*
*.log

# environment
.env
.env.production
.env.*.local

# editor / OS
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
Thumbs.db
